[submodule "genesis-plus-gx/Genesis-Plus-GX"]
	path = genesis-plus-gx/Genesis-Plus-GX
	url = git@github.com:ekeeke/Genesis-Plus-GX
	branch = master
[submodule "mesen2/Mesen2"]
	path = mesen2/Mesen2
	url = git@github.com:snowcone-ltd/Mesen2
	branch = triangle
[submodule "mgba/mgba"]
	path = mgba/mgba
	url = git@github.com:mgba-emu/mgba
	branch = master
[submodule "stella/stella"]
	path = stella/stella
	url = git@github.com:stella-emu/stella
	branch = master
[submodule "duckstation/duckstation"]
	path = duckstation/duckstation
	url = git@github.com:stenzek/duckstation
	branch = master
[submodule "mupen64plus/mupen64plus-core"]
	path = mupen64plus/mupen64plus-core
	url = git@github.com:mupen64plus/mupen64plus-core
	branch = master
[submodule "mupen64plus/angrylion-rdp-plus"]
	path = mupen64plus/angrylion-rdp-plus
	url = git@github.com:ata4/angrylion-rdp-plus
	branch = master
[submodule "mupen64plus/mupen64plus-rsp-cxd4"]
	path = mupen64plus/mupen64plus-rsp-cxd4
	url = git@github.com:mupen64plus/mupen64plus-rsp-cxd4
	branch = master
