[submodule "Genesis-Plus-GX/Genesis-Plus-GX"]
	path = Genesis-Plus-GX/Genesis-Plus-GX
	url = git@github.com:ekeeke/Genesis-Plus-GX
	branch = master
[submodule "Mesen2/Mesen2"]
	path = Mesen2/Mesen2
	url = git@github.com:snowcone-ltd/Mesen2
	branch = triangle
